<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>添加向导-学习经历</title>
    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container">
    <main>
        <div class="py-5 text-left">
            <h2>添加向导</h2>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">录入学习经历</h4>
                <form action="/addStudyExperience">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="period" class="form-label">时间段</label>
                            <input type="text" class="form-control" id="period" name="period">
                        </div>

                        <div class="col-sm-6">
                            <label for="school" class="form-label">学校名称</label>
                            <input type="text" class="form-control" id="school" name="school">
                        </div>

                        <div class="col-sm-6">
                            <label for="degree" class="form-label">学历</label>
                            <input type="text" class="form-control" id="degree" name="degree">
                        </div>
                    </div>

                    <hr class="my-lg-4">
                    <div class="col-sm-6">
                        <button class="btn btn-success" type="submit">下一步>></button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2021 Adam Chu</p>
    </footer>
</div>

</body>
</html>