<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>欢迎</title>
    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
  </head>

  <body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">欢迎使用！</h1>
      <p class="lead">请选择您需要完成的功能</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">新建一份简历</h4>
          </div>
          <div class="card-body">
              <a class="btn btn-lg btn-block btn-outline-primary" href="/showAddInfo">开始填写相关信息</a>
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">打开现有简历</h4>
          </div>
          <div class="card-body">
              <a class="btn btn-lg btn-block btn-outline-primary" href="./resume.xml">立即打开</a>
              <a class="btn btn-lg btn-block btn-outline-primary" href="/showSelectContent">挑选内容项输出</a>
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">修改现有简历</h4>
          </div>
          <div class="card-body">
            <a class="btn btn-lg btn-block btn-outline-primary" href="/beforeUpdateBasicInfo">修改基本信息</a>
            <a class="btn btn-lg btn-block btn-outline-primary" href="/showAddStudyExperienceSingle">添加学习经历</a>
            <a class="btn btn-lg btn-block btn-outline-primary" href="/showDeleteHobby">删除爱好</a>
          </div>
        </div>
        </div>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted" align="center">© 2021 Adam Chu 软件1804-褚涵</small>
          </div>
        </div>
      </footer>
    </div>
</body>
</html>