<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>选择需要输出的内容</title>
    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="bg-light">
<script>
    $('#content').val();
</script>>
<div class="container">
    <main>
        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">选择需要输出的内容</h4>
                <form action="/deleteHobby">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <select id="content" class="selectpicker show-menu-arrow form-control" multiple>
                                <option value="0">基本信息</option>
                                <option value="1">家庭信息</option>
                                <option value="2">学业信息</option>
                                <option value="3">工作信息</option>
                                <option value="4">爱好</option>
                            </select>
                        </div>
                    </div>

                    <hr class="my-lg-4">
                    <div class="col-sm-6">
                        <button class="btn btn-success" type="submit">输出</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2021 Adam Chu</p>
    </footer>
</div>

</body>
</html>